@model IEnumerable<GamePlan.Models.ToDoList>
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MainPage</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>

<style>
    .card {
        background-color: goldenrod;

    }


</style>

</head>
<body>

    <div id="toDoList"></div>

    <table class="table">
        @*@foreach (var item in Model)
        {
            <th>
                @Html.DisplayFor(modelItem => item.Title)

            </th>
                foreach (var thing in item.Events)
                {
                    <td>
                        @Html.DisplayFor(modelItem => thing.Description)
                    </td>
                }
        }*@

    </table>




<script type="text/javascript">
    $(document).ready(function () {
        var json = @Html.Raw(Json.Encode(@Model));


        getCollection(json);
    });

	function getCollection(collection){
		for (var i = 0; i <= collection.length - 1; i++) {
			createCard(i,collection[i].Title);
            var events = collection[i].Events;
            for (var j = 0; j <= events.length - 1; j++) {
                createListItem(i, j, events[j].Description, events[j].Id);
			}
            createTextBox(i, events[0].Category);
		}
	}

	function createCard(cardNum, cartTitle){
		var cardId = "toDoCard" + cardNum;
		var formId = "toDoListForm" + cardNum;
		var card = $('<div class="card" id="' + cardId + '" style="width: 18rem;"><h5 class="card-title">'+cartTitle+'</h5></div>');
		var toDoListForm = '<form action="/action_page.php" id="' + formId + '"></form>';
		$('#toDoList').append(card);
		document.getElementById(cardId).innerHTML += toDoListForm;
	}

	function createListItem(cardNum, eventNum, content, objectId){
		var formId = "toDoListForm" + cardNum;
        var eventId = "toDoListItem" + cardNum + eventNum;
        var mapActionLink = '<a href="/Events/Map/' + objectId + '">Map</a>';
        var emailActionLink = '<a href="/EmailNotify/SendReminder/' + objectId + '">Email</a>';
        var editActionLink = '<a href="/Events/Edit/' + objectId + '">Edit</a>';
        var toDoListItem = '<input type="checkbox" id="' + eventId + '"><span>' + content + mapActionLink + emailActionLink + editActionLink + '</span><br>';
        document.getElementById(formId).innerHTML += toDoListItem;
    }

    function createTextBox(cardNum, category) {
        var formId = "toDoListForm" + cardNum;
        var textBoxId = "newEventTextBoxfor" + cardNum;
        var newEventSubmitId = "newEventSubmit" + cardNum;
        var newEventTextBox = '<input type="text" id="' + textBoxId + '" value="Add"><span><input type="button" id="' + newEventSubmitId + '" value="Submit"></span>';
        document.getElementById(formId).innerHTML += newEventTextBox;
        $("#" + newEventSubmitId + "").on('click', function () {
            var newEvent = {
                Description: $("#" + textBoxId + "").val(),
                Category: category
            };
            createEvent(newEvent);
        });
    }

    function createEvent(newEvent) {
        $.ajax({
            type: "POST",
            data: JSON.stringify(newEvent),
            url: "http://localhost:49757/api/Events",
            contentType: "application/json"
        }).done(function (res) {
            console.log('res', res);
            });
    }

    

</script>
</body>
</html>
