
@{
    ViewBag.Title = "Weather";
}

<h2>Weather</h2>
<html>
<head>
    <link href="https://www.googleapis.com/geolocation/v1/geolocate?key=" + @ApiKeyLibrary.DarkSkyApiKey/>
    <script src="~/Scripts/jquery-3.3.1.js"></script>

<style>
    #list li {
        list-style-type: none;
    }
    #list lr {
        padding: 15px;
    }
    .badge {
        padding: 25px;
        
    }
</style>

</head>
<body>

    <button id="getWeather" onclick="getWeather()">Get Current Weather!</button>
    <ul id="list">
        <lr class="badge">
            <li><p id="weekDay1"></p></li>
            <li><p id="summaryDay1"></p></li>
            <li><p id="tempDay1"></p></li>
        </lr>
        <lr class="badge">
            <li><p id="weekDay2"></p></li>
            <li><p id="summaryDay2"></p></li>
            <li><p id="tempDay2"></p></li>
        </lr>
        <lr class="badge">
            <li><p id="weekDay3"></p></li>
            <li><p id="summaryDay3"></p></li>
            <li><p id="tempDay3"></p></li>
        </lr>
        <lr class="badge">
            <li><p id="weekDay4"></p></li>
            <li><p id="summaryDay4"></p></li>
            <li><p id="tempDay4"></p></li>
        </lr>
        <lr class="badge">
            <li><p id="weekDay5"></p></li>
            <li><p id="summaryDay5"></p></li>
            <li><p id="tempDay5"></p></li>
        </lr>
        <lr class="badge">
            <li><p id="weekDay6"></p></li>
            <li><p id="summaryDay6"></p></li>
            <li><p id="tempDay6"></p></li>
        </lr>
        <lr class="badge">
            <li><p id="weekDay7"></p></li>
            <li><p id="summaryDay7"></p></li>
            <li><p id="tempDay7"></p></li>
        </lr>

    </ul>
    @Html.ActionLink("Get recommendations", "Recommended", "Events", new { currentTemp = 65 }, null)

    <script type="text/javascript">
        var getWeather = function () {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var lat = position.coords.latitude;
                    var long = position.coords.longitude;
                    showWeather(lat, long)
                })
            }
            else {
                window.alert("Could not get location");
            }
        }

        function showWeather(lat, long) {
            var url = `https://api.darksky.net/forecast/f672ff13193bfcc40427a678ebfdbc71/${lat},${long}` + `?format=jsonp&callback=displayWeather`;
            var script = document.createElement("script");
            script.type = "text/javascript";
            script.src = url;
            document.getElementsByTagName("head")[0].appendChild(script);
            displayWeather(object)
        }

        function displayWeather(object) {
            for (var i = 1; i <= 7; i++) {
                $("#weekDay" + i + "").append("Weekday");
                $("#summaryDay" + i + "").append(object.daily.data[i].summary);
                $("#tempDay" + i + "").append("  HighTemp: " + object.daily.data[i].temperatureHigh + " degrees F");
            }
        }

    </script>
</body>
</html>
