
@{
    ViewBag.Title = "Weather";
}

<h2>Weather</h2>
<html>
<head>
    <link href="https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyCpotDAS6JNDvoSkQbaGpVcVz1Jh9iwISI" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
</head>
    <body>

        <button id="getWeather" onclick="getWeather()">Get Current Weather!</button>
        <p id="temp"></p>


        <script type="text/javascript">
            var getWeather = function () {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var lat = position.coords.latitude;
                        var long = position.coords.longitude;
                        showWeather(lat, long)
                    })
                }
                else {
                    window.alert("Could not get location");
                }
            }

            function showWeather(lat, long) {
                var url = `https://api.darksky.net/forecast/f672ff13193bfcc40427a678ebfdbc71/${lat},${long}` + `?format=jsonp&callback=displayWeather`;
                var script = document.createElement("script");
                script.type = "text/javascript";
                script.src = url;
                document.getElementsByTagName("head")[0].appendChild(script);
                displayWeather(object)
            }

            function displayWeather(object) {
                document.getElementById("temp").innerHTML = object.currently.temperature + " degrees F";

            }
          
        </script>
    </body>
</html>
